*{
    margin: 0%;
    padding: 0%;

}

header{
    width: 100%;
    display: inline-block;
    background-color: blueviolet;
}

header h1{
    margin: 1%;
    text-align: center;
    color: aliceblue;
}

main {

}

main nav{
    margin-left: 30%;
    width: 40%;
    clear: left;
    margin-top: 7%;
    display: inline-block;
}

main nav ul{}

main nav ul li{
    float: left;
    width: 22.5%;
    padding: 1%;
    list-style: none;
    text-align: center;
}

/* Clases */

/* Navegador 1 */

.navegador1 {
    margin-top: 3.5%;
    padding: 2%;
    height: auto;
    align-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35), 0px 34px 44px 0px rgba(0, 0, 0, 0.17);
    margin-left: 28%;
}

.navegador1 ul li{
    width: 15%;
    aspect-ratio: 1 / 1;
    align-content: center;
    border-radius: 100%;
    background-color: white;
    background-image: url("imagenes/hipervinculo.png");
    background-size: cover;
}

.navegador1 ul {
    display: flex;
    justify-content: space-around;
}

.navegador1 ul li a{
    color: black;
    text-decoration: none;
    color: transparent;
}

.navegador1 ul .especial1{
    background-image: url("imagenes/li-Navegador1.webp");
    background-size: cover;
    border-radius: 10%;
}

/* Navegador 2 */
.navegador2 {
    margin-top: 5%;
    padding: 2%;
    height: auto;
    align-content: center;
    background-color: rgb(219, 200, 56);
    border-radius: 10px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.35), 0px 34px 44px 0px rgba(0, 0, 0, 0.17);
    margin-left: 28%;
}

/* Navegador 3 */